EXT_PACKAGES_NAME[1]="vlmcsd"
EXT_PACKAGES_PATH[1]="net/vlmcsd"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/immortalwrt/packages"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="luci-app-vlmcsd"
EXT_PACKAGES_PATH[2]="applications/luci-app-vlmcsd"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="luci-app-cifs-mount"
EXT_PACKAGES_PATH[3]="applications/luci-app-cifs-mount"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="r8168"
EXT_PACKAGES_PATH[4]="package/kernel/r8168"
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[4]=""
EXT_PACKAGES_NAME[5]="r8125"
EXT_PACKAGES_PATH[5]=""
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="nft-fullcone"
EXT_PACKAGES_PATH[6]="nft-fullcone"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[6]="package"
EXT_PACKAGES_NAME[7]="luci-app-argon-config"
EXT_PACKAGES_PATH[7]=""
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_NAME[8]="luci-theme-argon"
EXT_PACKAGES_PATH[8]=""
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="luci-app-openclash"
EXT_PACKAGES_PATH[9]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="qt6base"
EXT_PACKAGES_PATH[10]="libs/qt6base"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/immortalwrt/packages"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="qt6tools"
EXT_PACKAGES_PATH[11]="utils/qt6tools"
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/immortalwrt/packages"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_NAME[12]="libdouble-conversion"
EXT_PACKAGES_PATH[12]="libs/libdouble-conversion"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/immortalwrt/packages"
EXT_PACKAGES_BRANCH[12]=""
EXT_PACKAGES_NAME[13]="qosmate"
EXT_PACKAGES_PATH[13]=""
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/hudra0/qosmate"
EXT_PACKAGES_BRANCH[13]=""
EXT_PACKAGES_NAME[14]="openwrt-bandix"
EXT_PACKAGES_PATH[14]=""
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/timsaya/openwrt-bandix"
EXT_PACKAGES_BRANCH[14]=""
EXT_PACKAGES_NAME[15]="luci-app-bandix"
EXT_PACKAGES_PATH[15]=""
EXT_PACKAGES_REPOSITORIE[15]="https://github.com/timsaya/luci-app-bandix"
EXT_PACKAGES_BRANCH[15]=""
EXT_PACKAGES_NAME[16]="luci-theme-aurora"
EXT_PACKAGES_PATH[16]=""
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/eamonxg/luci-theme-aurora"
EXT_PACKAGES_BRANCH[16]=""
EXT_PACKAGES_NAME[17]="luci-app-aurora-config"
EXT_PACKAGES_PATH[17]=""
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/eamonxg/luci-app-aurora-config"
EXT_PACKAGES_BRANCH[17]=""
EXT_PACKAGES_NAME[18]="luci-app-watchdog"
EXT_PACKAGES_PATH[18]=""
EXT_PACKAGES_REPOSITORIE[18]="https://github.com/sirpdboy/luci-app-watchdog"
EXT_PACKAGES_BRANCH[18]=""
EXT_PACKAGES_NAME[19]="luci-app-lucky"
EXT_PACKAGES_PATH[19]=""
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/gdy666/luci-app-lucky"
EXT_PACKAGES_BRANCH[19]=""
